ErrorDocument 404 /app/404.php
ErrorDocument 403 /app/403.php
ErrorDocument 500 /app/404.php

<IfModule mod_rewrite.c>
    RewriteEngine On
    
    # Cegah akses langsung ke file .env atau .htaccess
    RewriteRule ^\.env$ - [F]
    RewriteRule ^\.htaccess$ - [F]
    
    # Cegah akses directory listing
    Options -Indexes
</IfModule>

<IfModule mod_deflate.c>
  AddOutputFilterByType DEFLATE text/html text/plain text/xml text/css text/javascript application/javascript application/json image/svg+xml
</IfModule>

<IfModule mod_expires.c>
  ExpiresActive On
  ExpiresByType image/jpeg "access plus 1 year"
  ExpiresByType image/png "access plus 1 year"
  ExpiresByType image/webp "access plus 1 year"
  ExpiresByType image/svg+xml "access plus 1 year"
  ExpiresByType font/ttf "access plus 1 year"
  ExpiresByType font/woff2 "access plus 1 year"
  ExpiresByType text/css "access plus 1 month"
  ExpiresByType application/javascript "access plus 1 month"
  ExpiresDefault "access plus 2 days"
</IfModule>
